	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<div class="footer-item">
						<div class="company-brand">
							<h4 style="font-weight: 700; text-transform: uppercase; margin-bottom: 20px;">Electrofied</h4>
							<p>Your one-stop destination for the latest gadgets, gaming gear, and smart home essentials. We provide top-quality tech at unbeatable prices with fast, reliable shipping.</p>
						</div>
					</div>
				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>About Us</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a routerLink="/about" fragment="vision">vision</a>
							</li>
							<li class="menu-item">
								<a routerLink="/about" fragment="articles">articles</a>
							</li>
							<li class="menu-item">
								<a routerLink="/about" fragment="careers">careers</a>
							</li>
							<li class="menu-item">
								<a routerLink="/about" fragment="service-terms">service terms</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a routerLink="/">Home</a>
							</li>
							<li class="menu-item">
								<a routerLink="/products">Electronics</a>
							</li>
							<li class="menu-item">
								<a routerLink="/" fragment="global-search-input">Advanced Search</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a routerLink="/login">Sign In</a>
							</li>
							<li class="menu-item">
								<a routerLink="/account">My Account</a>
							</li>
							<li class="menu-item">
								<a routerLink="/account" [queryParams]="{ tab: 'orders' }">Track My Order</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Help</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a routerLink="/help-center">Help center</a>
							</li>
							<li class="menu-item">
								<a routerLink="/help-center">Report a problem</a>
							</li>
							<li class="menu-item">
								<a routerLink="/help-center">Suggesting edits</a>
							</li>
							<li class="menu-item">
								<a routerLink="/help-center">Contact us</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="copyright">
						<div class="row">

							<div class="col-md-6">
								<p>© 2022 All rights reserved. Free HTML Template by <a
										href="https://www.templatesjungle.com/" target="_blank">TemplatesJungle</a></p>
							</div>

							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="icon icon-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-youtube-play"></i></a>
										</li>
										<li>
											<a href="#"><i class="icon icon-behance-square"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->